@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var page = Umbraco.Content(1072).Children.OrderBy("createDate descending");
	var i = 0;
}

<h3>2 latest completed projects</h3>

@foreach (var child in page) {
        if(child.projectStatus == ("Completed") && i < 2){
			i++;
<li>
    <a href="@child.Url">@child.Name</a>
    <a href="@child.Url">@child.CreateDate</a>
</li>
        }
}


